<div class="container">
  <div class="row">
    <div class="col text-center">
     <%= form_with url: search_path, method: :get, local: true do |form| %>
      <%= form.text_field :search %>
      <%= select_tag(:option, options_for_select([["user", "1"],["book","2"]]))%>
      <%= select_tag(:choice, options_for_select([["完全一致", "1" ],["前方一致", "2" ],["後方一致", "3" ],["部分一致", "4" ]])) %>
      <%= form.submit '検索' %>
     <% end %>
    </div>
  </div>
</div>


<div class='row'>

  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user %>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>

  </div>

  <div class='col-xs-9'>
    <h2>Books</h2>

    <%= render 'books/index', books: @books %>
  </div>
</div>